@keyframes shake {
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
        -webkit-transform: translate(-50%,-50%) rotate(0deg);
        -moz-transform: translate(-50%,-50%) rotate(0deg);
        -ms-transform: translate(-50%,-50%) rotate(0deg);
        -o-transform: translate(-50%,-50%) rotate(0deg);
    }50%{
        transform: translate(-50%,-50%) rotate(10deg);
        -webkit-transform: translate(-50%,-50%) rotate(10deg);
        -moz-transform: translate(-50%,-50%) rotate(10deg);
        -ms-transform: translate(-50%,-50%) rotate(10deg);
        -o-transform: translate(-50%,-50%) rotate(10deg);
    }100%{
        transform: translate(-50%,-50%) rotate(0deg);
        -webkit-transform: translate(-50%,-50%) rotate(0deg);
        -moz-transform: translate(-50%,-50%) rotate(0deg);
        -ms-transform: translate(-50%,-50%) rotate(0deg);
        -o-transform: translate(-50%,-50%) rotate(0deg);
    }
}

@keyframes popup-add-post {
    0%{
        transform: translate(-50%, -50%) scale(3);
        -webkit-transform: translate(-50%, -50%) scale(3);
        -moz-transform: translate(-50%, -50%) scale(3);
        -ms-transform: translate(-50%, -50%) scale(3);
        -o-transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }10%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(3);
        -webkit-transform: translate(-50%, -50%) scale(3);
        -moz-transform: translate(-50%, -50%) scale(3);
        -ms-transform: translate(-50%, -50%) scale(3);
        -o-transform: translate(-50%, -50%) scale(3);
    }100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes popout-add-post {
    0%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(3);
        -webkit-transform: translate(-50%, -50%) scale(3);
        -moz-transform: translate(-50%, -50%) scale(3);
        -ms-transform: translate(-50%, -50%) scale(3);
        -o-transform: translate(-50%, -50%) scale(3);
    }100%{
        transform: translate(-50%, -50%) scale(3);
        -webkit-transform: translate(-50%, -50%) scale(3);
        -moz-transform: translate(-50%, -50%) scale(3);
        -ms-transform: translate(-50%, -50%) scale(3);
        -o-transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
// loading circle animation
@keyframes lds-dual-ring {
    0% {
      transform: scale(1) rotate(0deg);
      -webkit-transform: scale(1) rotate(0deg);
      -moz-transform: scale(1) rotate(0deg);
      -ms-transform: scale(1) rotate(0deg);
      -o-transform: scale(1) rotate(0deg);
    }
    100% {
      transform: scale(1.2) rotate(360deg);
      -webkit-transform: scale(1.2) rotate(360deg);
      -moz-transform: scale(1.2) rotate(360deg);
      -ms-transform: scale(1.2) rotate(360deg);
      -o-transform: scale(1.2) rotate(360deg);
    }
}
@keyframes fade-out {
    0%{
        opacity: 1;
        display: block;
    }90%{
        opacity: 0;
        display: block;
    }100%{
        opacity: 0;
        display: none;
    }
}
