div.donation.container{
    &.inert{
        transform: translateX(380px)scale(1.2);
        -webkit-transform: translateX(380px)scale(1.2);
        -moz-transform: translateX(380px)scale(1.2);
        -ms-transform: translateX(380px)scale(1.2);
        -o-transform: translateX(380px)scale(1.2);
        pointer-events: none;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    transition: transform .4s cubic-bezier(0, -0.49, 0, 1.02);
    -webkit-transition: transform .4s cubic-bezier(0, -0.49, 0, 1.02);
    -moz-transition: transform .4s cubic-bezier(0, -0.49, 0, 1.02);
    -ms-transition: transform .4s cubic-bezier(0, -0.49, 0, 1.02);
    -o-transition: transform .4s cubic-bezier(0, -0.49, 0, 1.02);
    form{
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        select{
            margin: 0 3px;
            padding: 12px 10px;
            width: 280px;
            border: 1px solid var(--compl-2);
            color: var(--compl-2);
            font-weight: 500;
            outline: none;
            margin-bottom: 20px;
            background-color: var(--dominant-wmode-color);
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }
        button{
            width: 150px;
            border: none;
            padding: 10px;
            outline: none;
            background-color: var(--compl-2);
            color: var(--dominant-wmode-color);
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
    }
    .cancel-transaction{
        color: var(--dominant-wmode-color);
        font-size: 20px;
        font-weight: 500;
        width: fit-content;
        padding: 10px 15px;
        background-color: var(--compl-2);
        position: fixed;
        bottom: 40px;
        animation: fade-out 5s ease-in-out forwards;
        -webkit-animation: fade-out 5s ease-in-out forwards;
        i{
            font-size: 25px;
            color: var(--dominant-wmode-color);
        }
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
.donation{
    h1{
        text-align: center;
        font-size: 38px;
    }

}
select{
    cursor: pointer;
}
